*
{
    padding: 0px;
    margin: 0px; 
}

@font-face {
    font-family: 'Raleway';
    src: url('raleway/Raleway-Regular.ttf');
}

body
{
    font-family: Raleway;
}

.mt-40
{
    margin-top: 40px;
}

.mt-15
{
    margin-top: 15px;
}

.container
{
    max-width: 1340px;
    margin: auto; 
}

a
{
    text-decoration: none;
    color: black; 
}

header
{
    display: flex;
    flex-direction: column;
}

.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .menu > img
{
    max-width: 140px;
}

header > .menu > nav > ul > li:not(:nth-child(3))
{
    margin-right: 40px;
}

header > .menu > nav > ul > li:nth-child(3)
{
    color: #0065FC; 
}

header > .menu > nav > ul > li:hover
{
    color: red; 
}

nav > ul
{
    list-style: none; 
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

header > .navbar_mobile > ul
{
    display: none;
}

h1
{
    font-weight: bold;
    font-size: 2.0em;
}

#sous_titre
{
    font-size: 1.4em;
    font-weight: normal;
}

#barre_de_recherche
{
    display: flex;
    flex-direction: row; 
}

#localisation
{
    background-color: #F2F2F2;
    display: flex; 
    align-items: center;
    padding-right: 20px; 
    padding-left: 20px; 
    height: 50px;
    border-radius: 10px;
}

#text_barre_de_recherche
{
    border-style: solid;
    border-color: #F2F2F2; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-right: 65px; 
    padding-left: 20px; 
    font-weight: bold;
    font-size: 1.3em;  
}

#text_barre_de_recherche::placeholder
{
    color: black;
}

#bouton_recherche
{
    background-color: #0065FC;
    color: white; 
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 1.3em;
    border-style: solid; 
    border-color: #0065FC; 
    border-radius: 15px;
    margin-left: -20px; 
}

.filtres
{
    display: flex;
    font-weight: bold;
    font-size: 1.3em; 
    align-items: center;
}

.filtres > ul
{
    display: flex;
    flex-wrap: wrap;
}

.filtres > ul > li
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px; 
}

.filtres > ul > li > div
{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.filtres > ul > li > p
{
    border-style: solid; 
    border-color: #F2F2F2; 
    border-left-style: none; 
    border-radius: 15px; 
    padding: 10px 30px 10px 30px; 
    margin-left: -20px;
}

form
{
    margin-left: -5px;
    z-index: -1;
}

#logements_disponibles_500
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#logement_disponible_500_icone
{
    display: flex; 
    align-items: center;
    color: #0065FC;
    background-color: white;
    border-color: #F2F2F2; 
}

#logement_disponible_500_texte
{
    margin-left: 5px; 
    font-size: 1.1em; 
}

#logements
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#logements_disponibles
{
    background-color: #F2F2F2; 
    max-width: 880px;
    padding: 40px;
    border-radius: 15px;
}

#les_plus_populaires
{
    max-width: 420px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 0px 35px 0px 35px;
}

#titre_logement_disponible
{
    font-size: 1.3em;
}

#les_bloc_de_logement_disponible
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.bloc_logement
{
    background-color: white; 
    margin-top: 30px;
    padding: 5px; 
    border-radius: 10px;
}

.images_logements
{
    width: 240px;
    height: 120px; 
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nom_du_logement
{
    font-weight: bold;
    font-size: 1em;
    padding-left: 15px;
    margin-top: 10px; 
}

.prix_du_logement
{
    padding-left: 15px; 
    margin-top: 10px; 
}

.bloc_logement > .étoiles
{
    padding-left: 15px; 
    margin-top: 10px; 
}

.étoiles
{
    color:  #0065FC; 
}

#afficher_plus
{
    margin-top: 40px; 
    font-weight: bold;
}

#titre_les_plus_populaire
{
    display: flex; 
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    margin-top: 30px;
}

.bloc_type_les_plus_populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 0px 0px; 
    background-color: white;
    padding: 10px 10px 10px 10px; 
    border-radius: 15px;
}

.recadrage_image_bloc_les_plus_populaires
{
    width: 130px;
    height: 135px;  
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.description_logement_les_plus_populaires
{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
}

.description_texte_logement_les_plus_populaires
{
    font-weight: bold;
    font-size: 1.0em; 
}

.description_prix_logement_les_plus_populaires
{
    margin-bottom: 60px;
    font-size: 0.8em; 
}

#titre_activite
{
    font-size: 1.3em;
    padding-left: 10px;
}

.list_des_blocs_ativite
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.bloc_long_activite
{
    background-color: #F2F2F2; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.image_bloc_long_activite
{
    width: 305px;
    height: 375px; 
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.list_bloc_court_activite
{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloc_court_activite
{
    background-color: #F2F2F2; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.image_bloc_court_activite
{
    width: 305px;
    height: 155px; 
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titre_bloc_activite
{
    font-weight: bold;
    font-size: 1em; 
    padding-left: 10px; 
}

footer
{
    background-color: #F2F2F2;
    margin-top: 60px;
    padding-top: 50px;
}
.footer_row
{
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
}

.column_footer
{
    display: flex;
    flex-direction: column; 
}

.footer_list
{
    margin-right: 220px; 
    list-style: none;
}

.footer_list_particularite
{
    margin-right: 0px;
}

.titre_footer
{
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.3em; 
}

.texte_footer
{
    margin-bottom: 15px;
}

@media screen and (max-width: 500px)
{
    .container
    {
        margin: 20px 20px 0px 20px;
    }

    #logements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .bloc_logement
    {
        box-shadow: 5px 5px 5px #F2F2F2;
    }

    #les_plus_populaires
    {	
        max-width: none;
        background-color: #F2F2F2; 
        border-radius: 0%;
        padding-bottom: 30px;
        margin-left: -20px; 
        margin-right: -20px; 
    }
    .images_logements
    {
        width: 340px;
        height: 135px; 
    }
    #logements_disponibles
    {
        margin-top: 40px; 
        background-color: white;
    }
    #les_bloc_de_logement_disponible
    {
        justify-content: center;
    }

    header > .menu > nav
    {
        display: none;
    }
    header > .navbar_mobile > ul
    {
        list-style: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.3em;
        border-bottom-style: solid;
        border-bottom-color: #F2F2F2;
        margin: 35px -20px 0px -20px; 
    }
    #afficher_plus
    {
        margin-left: -20px; 
    }


    .footer_row
    {
        flex-direction: column;
    }
    .footer_list
    {
        margin-right: 0px; 
        margin-bottom: 20px;
    }



    #text_barre_de_recherche
    {
        padding-right: 0px; 
    }
    #bouton_recherche
    {
        padding-left: 10px; 
        padding-right: 10px; 
        margin-left: -150px; 
    }

    .list_des_blocs_ativite
    {
        justify-content: center;
    }

    .filtres
    {
        flex-direction: column;
    }

    .bloc_court_activite
    {
        margin-top: 20px;
    }
    .bloc_long_activite
    {
        margin-top: 20px; 
    }


    
    
}

/* @media screen and (max-width: 1600px)
{
    #logements
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #les_plus_populaires
    {	
        max-width: none;
        background-color: #F2F2F2;
        margin: 0px -25px 35px -25px; 
        padding: 45px 25px 35px 25px; 
        border-radius: 0%;
    }

    .bloc_type_les_plus_populaires
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 1800px;
        margin: 20px 0px 20px 0px; 
        background-color: white;
        padding: 10px 10px 10px 10px; 
        border-radius: 15px;
    }

    #logements_disponibles
    { 
        padding-left: 25px; 
        padding-right: 25px;  
        margin: 0px -25px 50px -25px;
        border-radius: 0%;
        background-color: white;
    }

    #activités
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap; 
    }
}

@media screen and (max-width: 1330px)
{
    .list_des_blocs_ativite
    {
        justify-content: center;
    }
}

@media screen and (max-width: 1780px)
{
    .column_footer
    {
        padding-right: 250px; 
    }
}

@media screen and (max-width: 1350px)
{
    footer
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px)
{
    #text_barre_de_recherche
    {
        padding-right: 0px; 
    }
    #bouton_recherche
    {
        padding-left: 10px; 
        padding-right: 10px; 
        margin-left: -75px; 
    }
    #filtre_texte_1er
    {
        margin-left: 30px; 
    }
    #titre_activite
    {
        padding-left: 20px;
    }
}

@media screen and (max-width: 525px)
{
    #logement_disponible_500_icone
    {
        margin-top: -20px; 
    }
    .filtres
    {
        flex-direction: column;
    }
    .filtres > ul
    {
        margin-left: -120px; 
    }
}

@media screen and (max-width: 750px)
{
    header > .menu > nav
    {
        display: none;
    }
    header > .navbar_mobile > ul
    {
        list-style: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.3em;
        border-bottom-style: solid;
        border-bottom-color: #F2F2F2;
    }
    /* Je n'ai pas encore réssi le hover

    header > .navbar_mobile > ul > li:hover
    {
        border-top-color: #0065FC;
    }
} */